@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #0c0c0c;
}

/* logo and navbar */

#logo {
    width: 300px;
    margin: 30px auto;
}

#logo img {
    width: 100%;
}

#menu {
    margin: 30px auto;
    width: 600px;
    position: relative;
    overflow: hidden;
}

#menu li {
    float: left;
    margin-left: 50px;
    text-transform: uppercase;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #e62b27;
}

.active {
    font-weight: 600;
}

/* hero section */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/IMG_4890.webp) no-repeat center bottom;
}

#cover-text {

    background-color: rgba(0, 0, 0, 0.7);

    top: 30px;
    left: 150px;

    color: white;

    position: absolute;
    text-align: center;
    padding: 25px;
}

#cover-text h1 {
    font-size: 200%;
    text-transform: uppercase;
}

#cover-text p {
    font-size: 150%;
}

#cover-text h2 {
    margin-top: 30px;
}

#cover-text h3 {
    font-weight: 400;
    display: inline;
    padding: 0 30px;
}





/* footer */

footer {
    height: 150px;
    margin-top: 30px;
    padding-top: 30px;
}

footer div {
    float: left;
    margin-left: 120px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

#footer-social-media i {
    font-size: 250%;
    margin: 0 10px 0;
    color: black;
}

#footer-social-media i:hover {
    animation-name: icon-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for icons when hoovering */
@keyframes icon-zoom {
    from {
         transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* gallery */

#gallery {
    width: 100%;
}

.grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

#gallery div {
      width: 150px;
      /* margin: 0 1.5rem 1.5rem 0; */
      display: inline-block;
      width: 99%;
      padding: 5px 5px 10px 5px;
      transition: all .25s ease-in-out;
    }

#gallery img:hover {
    filter: grayscale(0);
      }

#gallery img {
        width: 100%;
        filter: grayscale(100%);
        transition: all .25s ease-in-out;
      }

#gallery p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
      }
    
  