@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #0c0c0c;
}

/* logo and navbar */

#logo {
    width: 300px;
    margin: 30px auto;
}

#logo img {
    width: 100%;
}

#menu {
    margin: 30px auto;
    width: 600px;
    position: relative;
    overflow: hidden;
}

#menu li {
    float: left;
    margin-left: 50px;
    text-transform: uppercase;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* hero section */

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/IMG_4890.webp) no-repeat center bottom;
}

#cover-text {

    background-color: rgba(0, 0, 0, 0.7);

    top: 30px;
    left: 150px;

    color: white;

    position: absolute;
    text-align: center;
    padding: 25px;
}

#cover-text h1 {
    font-size: 200%;
    text-transform: uppercase;
}

#cover-text p {
    font-size: 150%;
}

#cover-text h2 {
    margin-top: 30px;
}

#cover-text h3 {
    font-weight: 400;
    display: inline;
    padding: 0 30px;
}

#hem {
    float: left;
}

#mobil {
    float: right;
}